<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SystemsByBit - AI News{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<button class="theme-toggle" id="themeToggle">Toggle Theme</button>

<header>
    <h1><a href="https://systemsbybit.com/">SystemsByBit: AI News</a></h1>
<!--
    <p class="subtitle">Latest articles on Artificial Intelligence from trusted sources</p>
-->
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>© {{ "now"|date("Y") }} AI News Aggregator. Articles fetched from various sources.</p>
    <p><a href="https://accessph.net">ACCESS Software Solutions</a></p>
</footer>
<script language="javascript" src="js/js.js"></script>
</body>
</html>